services:
  studio-app:
    build:
      context: .
      args:
        VITE_OPENROUTER_API_KEY: ${VITE_OPENROUTER_API_KEY}
        VITE_CLERK_PUBLISHABLE_KEY: ${VITE_CLERK_PUBLISHABLE_KEY}
        VITE_CONVEX_URL: ${VITE_CONVEX_URL}
        VITE_NVIDIA_API_KEY: ${VITE_NVIDIA_API_KEY}
    ports:
      - "3000:80"
    restart: always
    environment:
      - NODE_ENV=production
    env_file:
      - .env
